<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.dao.UserDao">
    <!--配置一个resultMap 指定返回的类型 -->
    <resultMap id="userRM" type="User">
        <id column="id" property="id"/>
        <result column="userId" property="user_id"/>
        <result column="createDate" property="create_date"/>
        <result column="name" property="name"/>
        <!-- <result column="sex" property="sex" />-->
        <!-- <result column="age" property="age" />-->
    </resultMap>

    <select id="findAll" parameterType="User" resultMap="userRM">
        select id,user_id,create_date,name from user
        <where>
            <if test="id!=null and id!=''">
                and id=#{id}
            </if>
        </where>
    </select>
    <!-- id 固定的 findPaging parameterType 固定的 pageModel params.entity固定写法 -->
    <select id="findPage" parameterType="pageModel" resultMap="userRM">
        SELECT
        u.id,
        u.user_id,
        u.create_date,
        u.name
        FROM
        user u
        <where>
            <if test="params.entity.createDate != null">
                AND date_format(u.`_timestamp`,'%Y-%m-%d') = date_format(#{params.entity.createDate},'%Y-%m-%d')
            </if>
            <if test="@org.apache.commons.lang3.StringUtils@isNotEmpty(params.entity.name)">
                AND  u.`name` like CONCAT('%',"\\" #{params.entity.name},'%' )
            </if>
        </where>
        ORDER by id
    </select>

</mapper>